name: Julia-CI
on:
  push:

  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

  # Runs the workflow once per day at 3:15am
  schedule:
    - cron: '3 16 * * *'

env:
  CACHE_NUMBER: 1  # increase to reset cache manually

jobs:
  tests:
    runs-on: ubuntu-latest



    steps:
      - name: checkout repo content
        uses: actions/checkout@v2

      - name: Setup Mambaforge
        uses: conda-incubator/setup-miniconda@v3
        with:
            miniforge-version: latest
            activate-environment: model-validation 
            use-mamba: true
      - name: Setup Apptainer
        uses: eWaterCycle/setup-apptainer@v2
        with:
          apptainer-version: 1.4.5
      - name: Set strict channel priority
        run: conda config --set channel_priority strict
        
      - name: Update environment
        run: mamba env update -n model-validation -f environment_benchmarks.yml

      - name: generate-config-files
        shell: bash -l {0}
        run: |
          cd $GITHUB_WORKSPACE/benchmarks/linear-elastic-plate-with-hole/
          python generate_config.py

      - name: run_linear-elastic-plate-with-hole-benchmarks_snakemake
        shell: bash -l {0}
        run: |
          cd $GITHUB_WORKSPACE/benchmarks/linear-elastic-plate-with-hole/
          snakemake --use-conda --use-apptainer --cores=all --config tools=[extendablefem] configurations=["1","05","025","0125","00625","003125"]